<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">

  <h1 class="w3-xlarge">Portfolio</h1>
  <h1>Jonas Bossy</h1>
    <p>Je suis Jonas Bossy. J’ai 19ans. Je suis passionné par le dessin, la photographie, et crée des films. Je dessine quasiment tous les jours, de tout et n’importe quoi en prenant régulièrement des photos dans mon temps personnelle. Sinon quand j’ai du temp j’aime aller dans la nature pour me balader. Je fait aussi du sport, en aient beaucoup fait dans ma jeunesse et principalement du parkour. Maintenant je fait du rugby. En aient beaucoup voyager dans mon enfance j’ai eu l’occasion de rencontrer beaucoup de personnes différentes et plusieurs lieux different d’ou mon envie d’explorer et rencontrer de nouvelles personnes!</p>


</head>
