.text-title{
  text-transform: uppercase;
  text-color: black;
}

.img {
  width: 25%;
  height: auto;
}

footer {
  width: 100%;
  background-color: #D14647;
  color: white;
  text-align: center;
  margin-top: 20px;
  padding: 5px;

}

header {
  padding: 1%;
  text-align: cente0;
  background: #D14647;
  color: white;
  font-size: 30px;
}

body{
  background-color: #282828;
  margin: 0px;
}

p, h1, a {
    font-family:'Quicksand', sans-serif;;
    color: #E2E2E2;
}

img, p, h1 {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.infos {
  padding-left: 20%;
  padding-right: 20%;
}

h2 {
  font-size: 1rem;
}


.footertxt {
  margin-bottom: 0px;
  margin-top: 6px;
  font-size: 20px;
  color: black;
}
// style="margin-bottom: 0px; margin-top: 30px


.in {
  padding-top: 10px;
  padding-left:0px;
  padding-right:0px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}
.fa {
  padding-top: 10px;
  font-size: 30px;
  padding-left:0px;
  padding-right:0px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}


body{

}
